/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */

    // background-color: #F63;
    // outline: 25px solid #F63;
    // box-shadow: 0 0 40px 5px rgba(0,0,0,0.7);



 /**
  * General layout
  */



/************ INDEXPAGE ***********/
.index-content {
    display: block !important;
    height: 89.6vh;
}

.index-title {
    padding: 50vh 0 0;
    width: 100%;
    left: 0vw;
    position: absolute;
    font-size: 7em;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    bottom: 48vh;
    background: #f63;
    box-shadow: 0 5px 1px 1px rgba(0,0,0,0.2);
    border-bottom: none;
}

h1.index-title {
    color: #fff;
    font-family: 'Fira Sans Condensed', sans-serif;
}

h1.main-text {
    margin-top: -5px;
}

// .index-border {
//     border-top: 2px solid #fff;
//     position: absolute;
//     width: 960px;
//     height: 0;
//     bottom: 40vh;
// }

i {
    border: solid #ff4500;
    border-width: 0 .4vw .4vw 0;
    display: inline-block;
    padding: 1.5vw;
    position: absolute;
    left: 1.258vw;
    border-radius: 3px;
    bottom: 2vw;
}

.arrow {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrow-down {
    border: 3px solid rgba(255,255,255,0.1);
    display: inline-block;
    border-radius: 31%;
    padding: 3vw;
    left: 46.8vw;
    border-style: outset;
    position: absolute;
    bottom: 1.86vw;
    // animation: MoveDown 2s ease-in-out infinite;
}

// @keyframes MoveDown {
//     0%, 100% {
//         bottom: 6vh;
//         box-shadow: 0 0 6px 2px rgba(255,255,255,0.03);
//         opacity: 0;
//     }
//     80% {
//         bottom: 1.86vh;
//         box-shadow: 0 0 20px 4px rgba(255,255,255,0.8);
//         opacity: 0.7;
//     }
// }

.transp-text {
    color: rgba(255, 255, 255, 0.3);
}

body {
    // background: linear-gradient(0deg,#c050 95%,#F63 0);
}

.outer-wrap-header {
    width: 100%;
    position: fixed;
    z-index: 1;
    min-height: 60px;
}

.inner-wrap-header {
    #desinax-vgrid.grid(1440px);
    width: 100%;
}

.region-header {
    // background-color: @bgColorNav;
}

.region-header .rm-navbar ul li a {
    font-weight: 400;
    letter-spacing: -1.5px;
    font-size: 1.4em;
    padding: 0.6em .4em;
}

.region-header-col-2 .rm-navbar ul li a {
    // background-color: @bgColorNav;
    // border-bottom: 1px solid @bgColorNav;
    color: #fff;
}

.region-header-col-2 .rm-navbar ul li a:hover {
    color: #000;
    transition: all 1s ease-in;
    background-color: rgba(255, 255, 255, 0.9);
}

.rm-default ul li {
    background-color: #F63;
}

.rm-default li li {
    min-width: 7.9em;
}

.figure.figure img {
    box-shadow: 0 0 1px 3px rgba(255,104,30,.7);
    border-radius: 10px;
}

.site-logo-text a {
    font-weight: 400;
    font-size: 2em;
    color: #fff;
}

.outer-wrap-main {
    // padding-top: @magicNumber * 5;
    // min-height: 750px;
}

.inner-wrap-main {
    background-color: inherit;
}

.region-sidebar-left {
    border-right: 2px solid #555;
    padding-right: @magicNumber * 1 / 2;
}

.region-sidebar-right {
    border-left: 2px solid #555;
    padding-left: @magicNumber * 1 / 2;
}

.wrap-sidebar .block h4 {
    border: 0;
    background-color: inherit;
}

// .main-text {
//     #desinax-vgrid.column(@columns * 1 / 2 - 1);
//     float: none;
//     display: block;
//     margin: 0;
// }

.style-page {
    margin-top: @magicNumber * 8;
}

.outer-wrap-flash-message {
    padding-top: @magicNumber * 3;
    // margin-bottom: -@magicNumber * 5;
}

.region-flash-message {
    background-color: rgba(255,103,23,.1);
}

.flashmessage {
    outline: 1px solid rgba(255,103,23, 0.7);
}

.outer-wrap-flash {
    display: inline-block;
    height: 20vh;
}

.region-flash img {
    display: none;
}

.author-byline {
    margin-left: 5px;
}

.me-small {
    margin-left: 3px;
}

.outer-wrap-footer {
    background: rgb(29,32,38);
    background: linear-gradient(90deg, rgba(29,32,38,1) 0%, rgba(35,39,46,1) 23%, rgba(35,39,46,1) 79%, rgba(29,32,38,1) 100%);
}

.inner-wrap-footer {
    padding-top: @magicNumber * 3;
}

.footer-column h4 {
    border-bottom: 0;
    color: #fff;
}

.site-footer.block {
    color: #fff;
}
