/**
 * Layout for responsive style through media queries.
 */
 /********** RESPONSIVE 1, 2, 3 *********/

@media screen and (max-width: 900px) {
    .region-main {
        #desinax-vgrid.column(@columns - 2);
        #desinax-vgrid.push(1);
        &.has-sidebar-left.has-sidebar-right {
            #desinax-vgrid.column(@columns - 2);
            #desinax-vgrid.push(1);
        }
    }

    .region-main.has-sidebar-left,
    .region-main.has-sidebar-right,
    .region-sidebar-left,
    .region-sidebar-right,
    .region-sidebar-left.has-sidebar-right,
    .region-sidebar-right.has-sidebar-left,
    .region-breadcrumb {
        #desinax-vgrid.column(@columns - 2);
        #desinax-vgrid.push(1);
    }

     /********** NAVBAR *********/

    .region-header-col-1 {
        #desinax-vgrid.column(@columns * 1 / 4 + 2);
    }

    .region-header-col-2 {
        #desinax-vgrid.column(@columns * 3 / 4 - 2);
        text-align: center;
    }

    /********** FOOTER *********/

    .footer-column {
        #desinax-vgrid.column(@columns / 3 - 1);
    }

    .footer-column:nth-child(1) {
        #desinax-vgrid.push(1);
    }

    .footer-column:nth-child(2),
    .footer-column:nth-child(3) {
        #desinax-vgrid.push(0);
    }
}

@media screen and (max-width: 800px) {

    /********** NAVBAR *********/
    .inner-wrap-header .row {
        background-color: #fff;
        position: fixed;
        border-bottom: 1px solid lightgray;
    }

    .outer-wrap-flash {
        padding-top: 72px;
    }

    .style-page {
        padding-top: 72px;
    }

    .rm-desktop {
        display: none;
    }

    .rm-navbar-max {
        display: inline;
    }

    .region-header {
        padding-bottom: @magicNumber;
    }

    .region-header-col-1,
    .region-header-col-3 {
        #desinax-vgrid.column(@columns * 1 / 2);
    }
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 1.5em;
        padding-top: 0.75em;
    }

    figure.right {
        #desinax-vgrid.column(@columns);
    }

     /********** NAVBAR *********/

    .rm-desktop {
        display: none;
    }

    .rm-navbar-max {
        display: inline;
    }

    .region-header-col-1,
    .region-header-col-3 {
        #desinax-vgrid.column(@columns * 1 / 2);
    }

    /********** FOOTER *********/

    .footer-column {
        #desinax-vgrid.column(@columns - 2);
        #desinax-vgrid.push(1);
    }

    .footer-column:nth-child(2),
    .footer-column:nth-child(3) {
        #desinax-vgrid.push(1);
    }
}
