/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */

/**
 * Variables
 */

@bgColor: #fff;
@magicNumber:  24px;
@maxWidth03: 960px;
@generalBorder: lightgray;

/**
 * General layout
 */



.inner-wrap {
    #desinax-vgrid.grid(@maxWidth03);
    margin-bottom: @magicNumber;
}

.inner-wrap-main {
    background-color: @bgColor;
}

.vgrid .inner-wrap {
    @gridImage: "../img/grid_24x30x10-nomargin.png";
    //@gridImage: "../../img/grid_12x60x20-nomargin.png";
    #desinax-vgrid.showGrid(@gridImage, @maxWidth03);

    &.inner-wrap-header,
    &.inner-wrap-footer {
        #desinax-vgrid.showGrid(@gridImage);
    }
}

.right {
    float: right;
}

.row {
    #desinax-vgrid.row();
}

/********* LINKS **********/

/* unvisited link */
a:link {
    color: #2d0000;
    font-weight: 600;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #2d0000;
}

/* mouse over link */
a:hover {
    color: #a57f7f;
}

/* selected link */
a:active {
    color: #2d0000;
}

/********** HEADER *********/

/* Hide responsive/mobile menu */
.rm-navbar-max {
    display: none;
}

.rm-modal {
    #desinax-vgrid.grid(@columns);
}

#rm-menu-button {
    position: fixed;
    top: 12px;
    right: 4px;
    font-size: @magicNumber;
    padding-top: 0.4em;
    padding-right: 0.8em;
}

#rm-menu {
    max-width: 100%;
    background-color: #424242
}

.rm-show-submenu li a {
    background-color: #424242;
}

.region-header {
    #desinax-vgrid.row();
}

.inner-wrap-header {
    #desinax-vgrid.grid(@columns);
    margin-bottom: 0;
}

.inner-wrap-header a {
    text-decoration: none;
}

.region-header-col-2 .rm-navbar ul li a {
    text-decoration: none;
    padding: 1.4em 0.8em;
    background-color: #fff;
    border-bottom: 1px solid @generalBorder;
}

.region-header-col-2 .rm-navbar ul li a:hover {
    transition: all 0.9s;
    text-decoration: none;
    color: #000;
    background-color: rgba(25, 122, 21, 0.6);
}

.region-header-col-1 {
    #desinax-vgrid.column(@columns * 1 / 4);
}

.region-header-col-2 {
    #desinax-vgrid.column(@columns * 3 / 4);
    text-align: center;
}

.site-logo-text a {
    display: block;
}

.site-logo {
    display: none;
}

.region-flash {
    #desinax-vgrid.column(@columns);
    padding: @magicNumber 0;
}

.outer-wrap-flash {
    background-color: #f7f7f7;
    outline: 1px solid @generalBorder;
}

.inner-wrap-flash img {
    margin: 20px 0;
    display: block;
}

.flashmessage {
    font-weight: bold;
    text-align: center;
    outline: 1px solid red;
}

figure.right {
    margin-right: 0;
}

figure.right img {
    max-height: 18em;
}

/********** MAIN *********/

.region-main {
    #desinax-vgrid.column(@columns);
    margin-bottom: @magicNumber;

    &.has-sidebar {
        #desinax-vgrid.push(0);
    }

    &.has-sidebar-left {
        #desinax-vgrid.column(@columns * 3 / 4 - 1);
        #desinax-vgrid.push(1);
    }

    &.has-sidebar-right {
        #desinax-vgrid.column(@columns * 3 / 4 - 1);
    }

    &.has-sidebar-left.has-sidebar-right {
        #desinax-vgrid.column(@columns * 2 / 4);
        #desinax-vgrid.push(1);
    }
}

.region-sidebar-right,
.region-sidebar-left {
    #desinax-vgrid.column(@columns * 1 / 4);
    margin-bottom: @magicNumber;
}

.region-sidebar-left {
}

.region-sidebar-right {
    #desinax-vgrid.push(1);
}

.region-sidebar-left.has-sidebar-right,
.region-sidebar-right.has-sidebar-left {
    #desinax-vgrid.column(@columns * 1 / 4 - 1);
}

.region-sidebar-right.has-sidebar-left {
    #desinax-vgrid.push(1);
}

.wrap-sidebar .block h4 {
    border-bottom: 1px solid #ccc;
    background-color: #eee;
}

.inner-wrap-breadcrumb {
    margin-bottom: 0;
}

.region-breadcrumb {
    #desinax-vgrid.column(@columns);
    height: @magicNumber * 3;
}

.region-breadcrumb ul li {
    margin: 0;
}

.region-breadcrumb ul li:first-child {
    text-decoration: underline;
}

.region-breadcrumb ul li:nth-child(2),
.selected {
    font-style: italic;
    font-weight: 600;
}

.region-breadcrumb ul li:nth-child(2)::before {
    content: " > ";
}

.next-previous {
    #desinax-vgrid.grid(101%);
}

.next {
    #desinax-vgrid.column(12);
    text-align: right;
    float: right;
}

.previous {
    #desinax-vgrid.column(12);
}

/********** BYLINE *********/

.author-byline {
    border-top: 1px solid #ccc;
    margin-top: 48px;
    padding-top: @magicNumber;
}

figure.left {
    margin: 0 10px 0 0;
    float: left;
}

.author-byline p {
    margin-top: @magicNumber;
}

/********** FOOTER *********/

.outer-wrap-footer {
    background-color: #424242;
}

.inner-wrap-footer {
    padding-top: @magicNumber;
}

.footer-column-wrapper {
    color: #ddd;
}

.footer-column {
    #desinax-vgrid.column(@columns * 1 / 4);
}

.footer-column:nth-child(2),
.footer-column:nth-child(3) {
    #desinax-vgrid.push(3);
}

.site-footer {
    #desinax-vgrid.column(@columns);
    color: #bbb;
    text-align: center;
}

.site-footer.block {
    border-top: 1px solid #666;
}

.site-footer.block p {
    margin-top: @magicNumber * 2;
}

.footer-column a {
    color: #ccc;
    font-weight: bold;
    font-style: italic;
}
