/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */

/**
 * Variables
 */

@generalBorder: 2px solid #ddd;
//@generalPadding: 20px;
@bgColor: #fff;
@magicNumber:  24px;

/**
 * General layout
 */



.inner-wrap {
    #desinax-vgrid.grid(960px);
    margin-bottom: @magicNumber;
    // margin: 0 auto;
    // max-width: 1080px;
}

.inner-wrap-main {
    background-color: @bgColor;
    // padding: 20px 20px 80px 20px;
    // border-left: @generalBorder;
    // border-right: @generalBorder;
}

.vgrid .inner-wrap {
    @gridImage: "../img/grid_24x30x10-nomargin.png";
    //@gridImage: "../../img/grid_12x60x20-nomargin.png";
    #desinax-vgrid.showGrid(@gridImage, 960px);

    &.inner-wrap-header,
    &.inner-wrap-footer {
        #desinax-vgrid.showGrid(@gridImage);
    }
}

.right {
    float: right;
}

.left {
    // float: left;
}

.row {
    #desinax-vgrid.row();

    //margin-bottom: 12px;
    // .clearfix();
}

/********* LINKS **********/

/* unvisited link */
a:link {
    color: #2d0000;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #2d0000;
}

/* mouse over link */
a:hover {
    color: #a57f7f;
}

/* selected link */
a:active {
    color: #2d0000;
}

/********** HEADER *********/

/* Hide responsive/mobile menu */
.rm-navbar-max {
    display: none;
}

#rm-menu-button {
    // position: fixed;
    // top: 0px;
    // right: 4px;
    // font-size: 30px;
    // padding: 0.6em;
}

#rm-menu {
    // max-width: 30%;
    // max-height: 90%;
    background-color: #424242
}

.rm-show-submenu li a {
    background-color: #424242;
}

.inner-wrap-header {
    #desinax-vgrid.grid(@columns);
    margin-bottom: 0;
    // max-width: 100%;
}

.inner-wrap-header a {
    text-decoration: none;
    // font-size: 1.2em;
    // padding: 1em;
}

.region-header-col-2 .rm-navbar ul li a {
    text-decoration: none;
    padding: 1.4em 1em;
}

.region-header-col-2 .rm-navbar ul li a:hover {
    transition: all 0.9s;
    text-decoration: none;
    color: #3c3a3a;
    background-color: rgba(25, 122, 21, 0.1);
}

.region-header-col-1,
.region-header-col-3 {
    #desinax-vgrid.column(5);
    // float: left;
    // width: 17.85%;
}

.region-header-col-2 {
    #desinax-vgrid.column(14);
    // float: left;
    // width: 64.3%;
    text-align: center;
    // border-left: @generalBorder;
    // border-right: @generalBorder;
}

.region-header {
    // .clearfix();
    #desinax-vgrid.row();
}

.rm-default ul li {
    // background-color: rgba(247, 247, 250, 0.8);
}

.site-logo-text a {
    display: block;
}

.site-logo-text-icon img {
    // float: left;
    // height: 25px;
    // padding-right: 10px;
}

.site-logo {
    display: none;
}

.region-flash {
    #desinax-vgrid.column(@columns);
    padding: @magicNumber 0;
}

.outer-wrap-flash {
    background-color: #f7f7f7;
    outline: 1px solid #ddd;
}

.inner-wrap-flash img {
    margin: 20px 0;
    display: block;
    // width: 100%;
    -webkit-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.5);
}

/********** MAIN *********/

.region-main {
    #desinax-vgrid.column(@columns);
    margin-bottom: @magicNumber;
    // #desinax-vgrid.push(3);
    // width: 100%;
    // float: left;

    &.has-sidebar {
        #desinax-vgrid.push(0);
        // max-width: 70%;
    }

    &.has-sidebar-left {
        #desinax-vgrid.column(@columns * 3 / 4 - 1);
        #desinax-vgrid.push(1);
        // padding-left: @generalPadding;
        // border-left: 2px solid #f5f5f5;
    }

    &.has-sidebar-right {
        #desinax-vgrid.column(@columns * 3 / 4 - 1);
        // padding-right: @generalPadding;
        // border-right: 2px solid #f5f5f5;
    }

    &.has-sidebar-left.has-sidebar-right {
        #desinax-vgrid.column(@columns * 2 / 4);
        #desinax-vgrid.push(1);
        // width: 60%;
        // padding-left: @generalPadding;
        // padding-right: @generalPadding;
    }
}

.region-sidebar-right,
.region-sidebar-left {
    #desinax-vgrid.column(@columns * 1 / 4);
    margin-bottom: @magicNumber;
}

.region-sidebar-left {
    // float: left;
    // width: 30%;
    // padding-right: @generalPadding;
}

.region-sidebar-right {
    #desinax-vgrid.push(1);
    // float: left;
    // width: 30%;
    // padding-left: @generalPadding;
}

.region-sidebar-left.has-sidebar-right,
.region-sidebar-right.has-sidebar-left {
    #desinax-vgrid.column(@columns * 1 / 4 - 1);
    // width: 20%;
}

.region-sidebar-right.has-sidebar-left {
    #desinax-vgrid.push(1);
}

.wrap-sidebar .block h4 {
    // padding: 5px;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
}

.inner-wrap-breadcrumb {
    margin-bottom: 0;
    // padding: 0 @generalPadding;
    // background-color: @bgColor;
    // border-bottom: 2px solid #f5f5f5;
    // border-left: @generalBorder;
    // border-right: @generalBorder;
}

.region-breadcrumb {
    #desinax-vgrid.column(@columns);
    height: @magicNumber * 3;
    // display: inline;
    // float: left;
    // margin: 0;
}

.region-breadcrumb ul li {
    margin: 0;
}

.region-breadcrumb ul li:first-child {
    text-decoration: underline;
}

.region-breadcrumb ul li:nth-child(2),
.selected {
    font-style: italic;
    font-weight: 600;
}

.region-breadcrumb ul li:nth-child(2)::before {
    content: " > ";
}

.next-previous {
    // width: 100%;
    #desinax-vgrid.grid(100%);
}

.next {
    #desinax-vgrid.column(@columns * 1 / 2);
    // float: right;
    float: right;
    text-align: right;
    // width: 50%;
}

.previous {
    #desinax-vgrid.column(@columns * 1 / 2);

    // width: 50%;
}

/********** BYLINE *********/

.author-byline {
    // border-top: 1px solid #ccc;
    // margin-top: 40px;
    // padding: 0.8em;
}

figure.left {
    // margin: 0 10px 0 0;
}

/********** FOOTER *********/

.outer-wrap-footer {
    background-color: #424242;
    // padding-bottom: 48px;
}

.inner-wrap-footer {
    padding-top: @magicNumber;
    // max-width: 1080px;
    // padding: @generalPadding;
}

.footer-column-wrapper {
    color: #ddd;
    border-bottom: 1px solid #666;
    // margin-bottom: 48px;
    // float: left;
}

.footer-column {
    #desinax-vgrid.column(@columns / 3);
    // width: 33.31%;
    // float: left;
    // padding-bottom: @generalPadding;
}

.footer-column-1 {
    // padding-right: 5px;
}

.footer-column-2 {
    // padding-left: 5px;
    // padding-right: 5px;
}

.footer-column-3 {
    // padding-left: 5px;
}

.site-footer {
    #desinax-vgrid.column(@columns);
    color: #bbb;
    text-align: center;
}
